
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
<body>
    <header class="head">	
<section class="how-it-works">
    <div class="container">
      <div class="row pb-5">
        <div class="text-center col-md-8 mx-auto">
          <h2>TRAFFIC RULES!</h2>
          <p>Life is learning how to deal with traffic. It requires patience, a good sense of timing, and sometimes not giving in to the traffic but reshaping your life.</p>
        </div>
      </div>
 
      <div class="row content">
        <div class="row pb-5">
 
          <div class="col-md-6 mt-2 mt-md-0 p-2 pl-4 box mb-3">
            <div class="d-flex p-3 bg-white align-items-center justify-content-between" class="boxs">
              <div class="p-1">
                <h3 class="h3 mt-3 ">Do Not Drink and Drive</h3>
                <p class="mt-3">A statistic reveals that around 19 Indians are killed daily due to drunk-driving road accidents (source)

                  As per the current law, the blood alcohol limit permissible for driving is up to 0.03%, which is equivalent to 30 mg of alcohol per 100 ml of blood.
                  
                  If an individual fails to pass this BAC test, he/she can be fined between Rs.2000 and Rs.10000, based on the final blood alcohol limit.</p>
              </div>
            </div>
          </div>
 
          <div class="col-md-6 mt-2 mt-md-0 p-2 pl-4 box mb-3">
            <div class="d-flex p-3 bg-white align-items-center justify-content-between" class="boxs">
              <div class="p-1">
                <h3 class="h4 mt-3 ">Always Own Valid Car Insurance Policy</h3>
                <p class="mt-3">According to the Motor Vehicles Act of 1988, all motor vehicles in India need to possess valid third-party insurance coverage at all times.

                  If you are not careful and the insurance policy lapses, you could be penalised for driving a vehicle without such a protection plan.</p>
              </div>
            </div>
          </div>
 
          <div class="col-md-6 mt-2 mt-md-0 p-2 pl-4 box mb-3">
            <div class="d-flex p-3 bg-white align-items-center justify-content-between" class="boxs">
              <div class="p-1">
                <h3 class="h4 mt-3 ">Wear your seatbelt while Driving a Car</h3>
                <p class="mt-3">If you are new to driving, get in the habit of securing the seat belt as the first thing you do upon entering your vehicle. Doing so will not only help you avoid traffic violations, but it will also save your life in case of mishaps.

                  If you are caught driving without this seat belt around your waist and chest, traffic cops can fine you up to Rs.1000 for this violation on the spot.</p>
              </div>
            </div>
          </div>
 
          <div class="col-md-6 mt-2 mt-md-0 p-2 pl-4 box mb-3">
            <div class="d-flex p-3 bg-white align-items-center justify-content-between" class="boxs">
              <div class="p-1">
                <h3 class="h4 mt-3 ">Do not ride a Two-Wheeler without a Helmet On</h3>
                <p class="mt-3">One must wear a helmet at all times while riding a two-wheeler. Penalties for non-compliance with this rule come in the form of fines of up to Rs.1000.One must wear a helmet at all times while riding a two-wheeler. One distinction to notice here is that the law states that all individuals on a two-wheeler must put on helmets and not just the driver.

                  Penalties for non-compliance with this rule come in the form of fines of up to Rs.1000.</p>
              </div>
            </div>
          </div>
 
          <div class="col-md-6 mt-2 mt-md-0 p-2 pl-4 box mb-3">
            <div class="d-flex p-3 bg-white align-items-center justify-content-between" class="boxs">
              <div class="p-1">
                <h3 class="h4 mt-3 ">Avoid using a Mobile Phone while Riding</h3>
                <p class="mt-3">As per the new Motor Vehicle rules in effect from Oct 1, 2020, drivers can only use their phones as a navigational tool while on the wheel.

                  If you are caught using the phone in any other fashion while driving, get ready to pay a fine of up to Rs.5000. A one-year prison sentence also applies to such traffic violators.</p>
              </div>
            </div>
          </div>
 
          <div class="col-md-6 mt-2 mt-md-0 p-2 pl-4 box mb-3">
            <div class="d-flex p-3 bg-white align-items-center justify-content-between" class="boxs">
              <div class="p-1">
                <h3 class="h4 mt-3 ">Over Speeding</h3>
                <p class="mt-3">Drivers should never exceed the recommended speed guidelines on roads, as doing so will draw the ire of traffic cops.

                  As per a report, 66% of accidents in 2018 were caused due to speeding on Indian roads. (source)
                  
                  The fine charged for speeding varies as per the size of your vehicle, typically ranging between Rs.1000 and Rs.2000.   </p>
              </div>
            </div>
          </div>
 
        </div>
      </div>
    </div>
  </section>

</header>
        
</body>
</html>